/* Add here all your css styles (customizations) */
.modal-backdrop{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0 !important;
    background-color: #000;
}
.required-icon:after {
	content:"*";
	color:#da6461;
	margin-left:3px;
}

label.error,
.error {
	display:block;
	font-size:12px;
	color:#e94d1c;
}
/* Form labels */
label {
  font-weight: 400;
  font-size: 14px;
}

.loading {
	position:fixed;
	width:100%;
	height:100%;
	text-align:center;
	color:#fff;
	left:0;
	z-index:99999;
}

.loading-cont {
	height:45px;
	left:50%;
	margin-left:-114px;
	margin-top:-23px;
	position:fixed;
	top:50%;
	width:228px;
}

.tamaño{
	font-size: 20px;
}


.hideOverflow
{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100%;
    display:block;
}

.index-blk-img
{
	height: 200px;
	padding-bottom: 20px;

}
.product-ratings li.like-icon a {
  color: #dfe3ee;
}

.shop-subscribe {
    background:#8b9dc3;
}
.letras{
	color: white;
    font-size: 27px;
}

.dl-horizontal dl {
	margin-bottom:8px;
	overflow:hidden;
}

.dl-horizontal dt {
	text-align:left;
}

.dl-horizontal-new dt {
	float:left;
	margin:0;
	width:105px;
}

.dl-horizontal dd:before {
	content:":";
	display:inline-block;
	float:left;
}

.dl-horizontal dd > span {
	display:block;
	margin-left:13px;
}
.dl-horizontal-new dd {
	margin-left:115px;
}

.note {
  margin: 20px 0 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}

.note.note-info {
  background-color: #fcf8e3;
  border-color: #f2cf87;
  color: #8a6d3b, 80%;
}
/*Contact us Block*/
.who li {
	margin-bottom: 6px;
}
.who li i {
	color: #3b5998;
	font-size: 13px;
	min-width: 15px;
	margin-right: 8px;
	text-align: center;
	position: relative;
}
.who li:hover i,
.who li:hover a {
	color: #777;
}
.who li:hover a:hover {
	text-decoration: none;
}
/*-- 5.4 - Withdrawls
========================= */
.pay-method > tr > td:first-child > a {
	background:url(../../images/general/withdrawal_images.png) no-repeat -2px -5px;
	display:block;
	height:28px;
	text-indent:-999em;
	width:88px;
}

.pay-method > tr > td:first-child > a:hover {
	background-position:-2px -35px;
}

.pay-method > tr:last-child > td:first-child > a {
	background-position:-92px -2px;
}

.pay-method > tr:last-child > td:first-child > a:hover {
	background-position:-91px -31px;
}


/*Footer Logo*/
.footer-logo {
	margin: 17px 0 20px;
	height: 70px;
	font-size: 28px;
	width: 100px;
	display: table-cell;
	vertical-align: middle;
}


/* Footer Link List*/
.link-list li {
	border-top: solid 1px #353535;
}

.link-list li:first-child {
	border-top: none !important;
}

.link-list a {
	color: #eee;
	font-size: 11px;
	padding: 6px 0px;
	display: inline-block;
	text-transform: uppercase;
}

.link-list li i {
	color: #bbb;
	float: right;
	margin-top: 10px;
}


/* Front Carousel */
.front-carousel .carousel-control {
  margin: 0;
  border: none;
  height: 35px;
  font-size: 24px;
  font-weight: normal;
  top: 40%;
  width: 35px;
  background: #222;
  opacity: 0.5;
}
.front-carousel .carousel-control:hover {
  opacity: 0.6;
}
.front-carousel .carousel-control i {
  font-size: 27px;
}
.front-carousel .carousel-control.right i {
  position: relative;
  left: 1px;
}
.front-carousel .carousel-caption {
  padding: 10px 15px 0;
  background: rgba(0,0,0,0.5);
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
}
.front-carousel .carousel-control.left {
  left: 0;
}
.front-carousel .carousel-control.right {
  right: 0;
}
.fonts18     { font-size:18px;       		}

/*-- 4.5 - View page
====================== */
.price-details .dl-horizontal-new {
	font-size:12px;
}

.price-details .dl-horizontal-new dt {
	font-weight:normal;
	width:160px;
}

.price-details .dl-horizontal-new dd {
	margin-left:165px;
}

.price-details .dl-horizontal-new dd > span {
	margin-left:7px;
}

.content-page .price-detlist li {
	margin-bottom:10px;
}

.price-detlist li:last-child {
	margin-bottom:0;
}

.price-detlist li i {
	float:left;
}

.price-detlist li > span {
	display:block;
	margin-left:20px;
}

/*--- 4.6.1 - View Product
==========================*/
.shipping-details dt {
	float:left;
	width:80px;
}

.shipping-details dd {
	margin-left:80px;
}

.shipping-details dd p {
	margin-left:12px;
}

.shipping-details dd a {
	color:#327cbf;
}

.shipping-details .shipping-prc {
	display:block;
}

.pricelist-product p,
.pricelist-product p.strike-out {
	display:inline-block;
	margin:0;
	padding-right:15px;
}

.pricelist-product p strong  {
	font:normal 17px 'Open Sans', Arial, Helvetica, sans-serif;
	float:left;
}

.pricelist-product h2,
.content-page .blog-sidebar .view-pricelist h2 {
	font:500 18px 'martina-regular', Arial, Helvetica, sans-serif;
	color:#e84d1c;
	border:0;
	margin:15px 0 0;
	padding:0 0 5px;
}

.content-page .blog-sidebar .view-pricelist h2 {
	font-size:20px;
}

.view-pricelist .strike-out strong:before {
	top:17px;
}

.view-pricelist p strong {
	font-size:25px;
	color:#000;
}

/*-- 5.0 - Myaccount
====================== */
.manageacc-menu li {
	float:left;
	margin:0 5px 5px;
}

.manageacc-menu li a {
	color:#fff;
	padding:7px 12px;
	text-decoration:none;
	display:inline-block;
	background:#5e98cb;
	border-radius:3px !important;
	-webkit-border-radius:3px !important;
}

.manageacc-menu li a:hover,
.manageacc-menu li.active a {
	background:#386995;
}

.manageacc-menu li:last-child {
	margin-right:0;
}

.myacc-pg h2 {
	font-size:20px;
}

.manageacc-mobmenu li a {
	background-color:#f2f2f2;
	border-bottom:1px solid #e5e5e5;
	padding:9px 10px;
	min-width:221px;
	display:block;
	color:#333;
}

.manageacc-mobmenu li a:hover {
	background:#e2e2e2;
	text-decoration:none;
}

/*-- 7.0 - Carousel
======================== */
.custom-carousel {
	background:#f2f2f2;
}

.custom-carousel .item a {
	display:block;
	line-height:561px;
	text-align:center;
	padding-bottom:2px;
}

.custom-carousel .carousel-inner > .item > a > img {
	margin:0 auto;
	vertical-align:middle;
	display:inline;
}
/* Product listing page */
.product-category {
	display:block;
	margin-left:65px;
}
.result-category h2{
	text-transform:none;
}
.price-product {
	background:#f4f4f4;
	padding:12px 10px;
}

.price-product .listdefault-price,
.price-product .special-price {
	width:37%;
	float:left;
	padding:0 15px 0 0;
}

.price-product ul li strong {
	font:normal 18px/25px 'Open Sans', Arial, Helvetica, sans-serif;
	color:#3e4d5c;
	float:left;
}

.price-product ul,
.price-product p {
	margin-bottom:0;
}

.price-product p small,
.price-product p small strong {
	font:500 13px 'open_sanslight', Arial, Helvetica, sans-serif;
	color:#5b5f62;
}

.price-product .price-txt {
	font:500 16px/22px 'martina-regular', Arial, Helvetica, sans-serif;
	color:#e84d1c;
}

.price-product .special-price {
	margin-top:3px;
}

/*Blockquote Hero Styles*/
blockquote.hero {
  border: none;
  padding: 18px;
  font-size: 16px;
  background: #DDF7E5;
  border-left: solid 2px #5FDB35;
}

blockquote.hero:hover {
  background: #eee;
  border-left-color: #666;
}

.dl-horizontal-new dt {
	float:left;
	margin:0;
	width:105px;
}

.dl-horizontal dd:before {
	content:":";
	display:inline-block;
	float:left;
}

.dl-horizontal dd > span {
	display:block;
	margin-left:13px;
}

.paypal-btn button,
.dl-horizontal-new dd {
	margin-left:115px;
}

.payment-btn i {
	font-size:40px;
}

/*-- 4.2 - Cart
====================== */
.cart-list h4,
.cart-list h4 a {
	font-size:16px;
	margin:6px 0;
	color:#616161;
}

.cart-list h4 a:hover {
	color:#e02222;
}

.cart-list .note {
	padding:22px 30px 22px 15px;
	text-align:center;
}

.cart-list .portfolio-block {
	background: #f7f7f7;
	margin-bottom:40px;
	overflow:visible;
}

.cart-list .col-md-6.portfolio-stat .portfolio-info {
	padding:0 25px 12px;
}

.cart-list .portfolio-info span,
.cart-list .portfolio-info {
	display:inline-block;
	font-size:14px;
	line-height:normal;
	text-transform:capitalize;
	color:#000;
}

.cart-list .portfolio-info p,
.cart-list .portfolio-info span.text-muted {
	font-size:13px;
}

.cart-list .portfolio-info span.text-muted {
	color:#999;
}

.cart-list .portfolio-info .alert *,
.cart-list .portfolio-info .alert {
	text-transform:none;
}

.cart-amount {
	margin-right:118px;
}

.cart-amount p+p small {
	font-size:11px;
}

.table > tbody > tr > td.table-border0 {
	border-top:0;
	padding:0;
}

.pay-checkout .dl-horizontal-new dd:before {
	content:"";
}

.cart-list .input-small {
	width:80px !important;
	padding:6px;
}

.shipping-dropdown > .btn {
	width:100%;
	text-align:left;
}

.shipping-dropdown > .btn span {
	display:inline-block;
	font-size:12px;
	max-width:80%;
	text-transform:none;
	white-space:pre-wrap;
	color:#fff;
}

.shipping-dropdown > .btn i {
	float:right;
	font-size:10px;
	margin:2px 0 0 5px;
}

.shipping-submenu {
	background:#fdfdfd;
	border:2px solid #eee;
	box-shadow:2px 2px 2px #f0f0f0;
	position:absolute;
	right:0;
	top:100%;
	min-width:440px;
	padding:10px 15px;
	z-index:999;
}

.shipping-submenu .table-new * {
	font-size:12px;
}

.shipping-submenu .table-new small {
	font-size:11px;
}

.shipping-submenu .table-new {
	max-height:145px;
	overflow:auto;
}

.shipping-submenu .table-new input[type="radio"] {
	margin-top:2px;
	margin-left: 1px;
}

.shipping-submenu .table >thead >tr > th,
.shipping-submenu .table > tbody > tr > th,
.shipping-submenu .table > tfoot > tr > th,
.shipping-submenu .table > thead > tr > td,
.shipping-submenu .table > tbody > tr > td,
.shipping-submenu .table > tfoot > tr > td {
	padding:4px 8px;
}

.addr-div div.showonhover  {
	display:none;
}

.addr-div:hover div.showonhover  {
	display:block;
	cursor:pointer;
}

.addr-div {
	background:#f9f9f9;
	margin-bottom:10px;
	padding:20px 0;
}

.addr-div.active {
	background:#f1f1f1;
}

.addr-div .selected .fa-check:before {
	color:#1cc01f;
}

.addr-div .selected.showonhover {
	display:block;
}

.addrdet-popup fieldset:first-child {
	border-right:1px solid #eee;
}

.addrdet-popup fieldset {
	padding:20px 15px;
	margin-top:15px;
}

.myaddr-space p,
.addr-div p {
	margin-bottom:0;
}

.purple-plum.btn {
  color: white;
  background-color: #8775a7;
  border-color: "";
}
.purple-plum.btn:hover, .purple-plum.btn:focus, .purple-plum.btn:active, .purple-plum.btn.active {
  color: white;
  background-color: #77639b;
}
.open .purple-plum.btn.dropdown-toggle {
  color: white;
  background-color: #77639b;
}
.purple-plum.btn:active, .purple-plum.btn.active {
  background-image: none;
}
.open .purple-plum.btn.dropdown-toggle {
  background-image: none;
}
.purple-plum.btn.disabled, .purple-plum.btn.disabled:hover, .purple-plum.btn.disabled:focus, .purple-plum.btn.disabled:active, .purple-plum.btn.disabled.active, .purple-plum.btn[disabled], .purple-plum.btn[disabled]:hover, .purple-plum.btn[disabled]:focus, .purple-plum.btn[disabled]:active, .purple-plum.btn[disabled].active, fieldset[disabled] .purple-plum.btn, fieldset[disabled] .purple-plum.btn:hover, fieldset[disabled] .purple-plum.btn:focus, fieldset[disabled] .purple-plum.btn:active, fieldset[disabled] .purple-plum.btn.active {
  background-color: #8775a7;
}
.purple-plum.btn .badge {
  color: #8775a7;
  background-color: white;
}
/*-- cart new code
=====================*/
.cart-list .blog-item {
	max-width:1140px;
}

.cart-list .blog-item .row {
	margin-right:0;
}

.cart-list .portfolio-info {
	padding:10px;
}

.cart-list .portfolio-info:first-of-type {
	padding-left:25px;
}

.cart-list .portfolio-info:last-of-type {
	padding-right:15px;
}

/*portfolio text*/
.cart-list .portfolio-text {
  overflow: hidden;
}

.cart-list .portfolio-text img {
  float: left;
  margin-right: 15px;
}

.cart-list .portfolio-text .portfolio-text-info {
  overflow: hidden;
}

.cart-list img.media-object {
    top: 2px;
	width: 60px;
	height: 60px;
    position: relative;
}


.cart-list .col-md-3 {
	width:270px;
}

.cart-list .col-md-1 {
	/*width:100px;*/
}

.cart-list .col-md-2 {
	width:195px;
}

.cart-list .col-md-1.new-col-1 {
	width:155px;
}

.cart-list .new-col-2.col-md-2 {
	width:170px;
}

.cart-list .col-md-1.new-col-3 {
	width:70px;
}

.cart-list .col-md-8 {
	padding-left:110px;
	width:815px;
}

.cart-list .portfolio-info .alert,
.shipping-submenu .alert {
	padding:5px 7px;
}

.shipping-submenu .alert {
	font-size:12px;
}

/*-- 4.3 - Checkout
====================== */
.table-new > tbody > tr > th {
	padding:8px 10px;
}

.table-new > tbody > tr > td {
	padding:15px 10px;
}

.table.table-new > tbody > tr.active > td {
	background-color:#f5f5f5;
	color:#3e4d5c;
}
